## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [3]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [27]:
# Your code here
sample_list_1=random.sample(range(100), 80)# range between 1 and 100, 100 is. exclusive

print(sample_list_1)
len(sample_list_1)

[44, 71, 35, 98, 85, 15, 41, 58, 45, 97, 90, 30, 7, 74, 94, 86, 13, 33, 6, 60, 79, 66, 64, 92, 17, 40, 62, 84, 73, 24, 46, 34, 89, 47, 36, 55, 69, 9, 78, 16, 14, 4, 99, 0, 18, 72, 29, 76, 67, 91, 38, 56, 95, 80, 2, 54, 20, 3, 63, 32, 19, 1, 75, 12, 59, 23, 93, 21, 25, 96, 57, 26, 31, 11, 88, 53, 22, 81, 27, 65]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [25]:
# Your code here

set1 = sample_list_1


print(len(set1))

#Length is still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [30]:
# Your code here
sample_list_2=[random.randrange(1, 100) for _ in range(80)]# range between 1 and 100, 100 is. exclusive
print(sample_list_2)
len(sample_list_2)

[32, 83, 22, 52, 9, 53, 72, 16, 95, 64, 10, 81, 29, 75, 39, 89, 80, 41, 76, 74, 6, 77, 44, 89, 19, 59, 10, 74, 59, 91, 27, 9, 20, 59, 67, 34, 73, 74, 72, 48, 48, 84, 56, 57, 79, 72, 86, 77, 99, 65, 11, 15, 51, 93, 2, 14, 12, 15, 5, 95, 26, 54, 9, 33, 57, 52, 1, 60, 26, 48, 46, 60, 48, 84, 36, 41, 28, 92, 12, 34]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [31]:
# Your code here

set2 = sample_list_2


print(len(set2))

#Length is still 80

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [36]:
# Your code here

st2 = set(set2)

inter = st2.intersection(set1)

set3 = st2.difference(set1)
print(set3)
#{80, 81, 83, 84, 86, 89, 91, 92, 93, 95, 99}

{80, 81, 83, 84, 86, 89, 91, 92, 93, 95, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [38]:
# Your code here
st1 = set(set1)

inter = st1.intersection(set2)

set4 = st1.difference(set2)
print(set4)
#{0, 3, 4, 7, 8, 13, 17, 18, 21, 23, 24, 25, 30, 31, 35, 37, 38, 40, 42, 43, 45, 47, 49, 50, 55, 58, 61, 62, 63, 66, 68, 69, 70, 71, 78}

{0, 3, 4, 7, 8, 13, 17, 18, 21, 23, 24, 25, 30, 31, 35, 37, 38, 40, 42, 43, 45, 47, 49, 50, 55, 58, 61, 62, 63, 66, 68, 69, 70, 71, 78}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [54]:
# Your code here

#set5 =set1 and set2
#print(set5)
#[32, 83, 22, 52, 9, 53, 72, 16, 95, 64, 10, 81, 29, 75, 39, 89, 80, 41, 76, 74, 6, 77, 44, 89, 19, 59, 10, 74, 59, 91, 27, 9, 20, 59, 67, 34, 73, 74, 72, 48, 48, 84, 56, 57, 79, 72, 86, 77, 99, 65, 11, 15, 51, 93, 2, 14, 12, 15, 5, 95, 26, 54, 9, 33, 57, 52, 1, 60, 26, 48, 46, 60, 48, 84, 36, 41, 28, 92, 12, 34]
set5 = st2.intersection(set1)
print(set5)

{1, 2, 5, 6, 9, 10, 11, 12, 14, 15, 16, 19, 20, 22, 26, 27, 28, 29, 32, 33, 34, 36, 39, 41, 44, 46, 48, 51, 52, 53, 54, 56, 57, 59, 60, 64, 65, 67, 72, 73, 74, 75, 76, 77, 79}

In [65]:
len(set1)#80
len(set2)#80
len(set3)#11
len(set4)#35
len(set5)#45

45

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [ ]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove an element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here